.comment{
    background-color: azure;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 500;
}

.comment .cancel{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-size: 3rem;
}